<!DOCTYPE css>
<html lang="fr">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Détails du Projet</title>
</head>
<body>
max-width: 960px;
max-width: 0 auto;
style="background-color:#f8f9fa">
style="color#333"
margin: 0;
</body>

